.highlight-purple {
    border: 1px solid #08ba7c;
    border-radius: 25px;
    padding: 10px;
}

.preview-container {
    width: 92px;
    height: 60px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.preview-dashed-button {
    color: #083aba;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30%;
}

.add-pic-button {
    position: absolute;
    bottom: -8px;
    right: -8px;
    background: transparent;
}