.highlight-purple {
    border: 2px solid #08ba7c;
    border-radius: 20px;
    padding: 8px;
}

.preview-container {
    width: 128px;
    height: 71px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0);
    border-radius: 4px;
}

.preview-dashed-button {
    width: 60px;
    height: 60px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25%;
}