.highlight-purple {
    border: 2px solid black;
    border-radius: 25px;
    padding: 10px;
}

.preview-container {
    width: 92px;
    height: 60px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.preview-dashed-button {
    color: #083aba;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30%;
}

.add-pic-button {
    position: absolute;
    bottom: -8px;
    right: -8px;
    background: transparent;
}

.fixed-hub-button {
    position: fixed;
    left: 31%;
    transform: translate(-100%, -50%);
    z-index: 1000;
    font-weight: bold;
    border: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    color: #212121 !important;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.fixed-hub-button:hover {
    background-color: #ffffff !important;
}

.fixed-hub-button-delete,
.fixed-hub-button-dependency,
.fixed-hub-button-clear-media,
.fixed-hub-button-add,
.fixed-hub-button-remove {
    position: fixed;
}



.fixed-hub-button-clear-media { top: 65%; }
.fixed-hub-button-dependency {top: 60%; }
.fixed-hub-button-add { top: 70%; background-color: #e2fc2a !important; }
.fixed-hub-button-remove { top: 80%; }
.fixed-hub-button-delete { top: 85%; background-color: #ff4d4f !important; color: #ffffff !important; }

.fixed-hub-button-delete:hover {
    background-color: #ff4d4f !important;
    color: #f1f1f0 !important;
}

.fixed-hub-button-clear-media:hover,
.fixed-hub-button-dependency:hover,
.fixed-hub-button-add:hover,
.fixed-hub-button-remove:hover {
    color: #b5b5b4 !important;
}

.fixed-hub-button-add:hover {
    background-color: #e2fc2a !important;
}


.circle-float-button {
    position: fixed;
    left: calc(28.5%);
    transform: translateY(-50%);
    z-index: 1000;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #b5b5b4 !important;
    color: #e2fc2a;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.circle-float-button:hover {
    color: #e2fc2a !important;
    border-color: transparent !important;
    background-color: #b5b5b4 !important;
}

.refresh-float-button {
    top: 47%;
}

.filter-button {
    top: 53%;
}


