.highlight-purple {
    border: 1px solid #08ba7c;
    border-radius: 25px;
    padding: 10px;
}

.preview-container {
    width: 92px;
    height: 60px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.preview-dashed-button {
    color: #083aba;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30%;
}

.add-pic-button {
    position: absolute;
    bottom: -8px;
    right: -8px;
    background: transparent;
}

.fixed-hub-button {
    position: fixed;
    left: 23%;
    transform: translate(-100%, -50%);
    z-index: 1000;
    color: #212121 !important;
    font-weight: bold;
    border: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.fixed-hub-button:hover {
    background-color: #ffffff !important;
}

.fixed-hub-button-delete {
    top: 50%;
    background-color: #d32f2f !important;
    color: #ffffff !important;

}

.fixed-hub-button-delete:hover {
    background-color: #b71c1c !important;
}


.fixed-hub-button-clear {
    top: 60%;
    background-color: #dfc7ef !important;
}


.fixed-hub-button-add {
    top: 65%;
    background-color: #a9da54 !important;
}


.fixed-hub-button-remove {
    top: 70%;
    background-color: #ffe140 !important;
}

.refresh-float-button {
    position: fixed;
    left: calc(19.5%);
    top: 43%;
    transform: translateY(-50%);
    z-index: 1000;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #b1e399;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.refresh-float-button:hover {
    background-color: #389e0d;
}
