.action_parser_main {
    display: flex;
    align-items: self-start;
    font-family: Arial, sans-serif;
    flex-direction: column;
}

.table_url {
    font-size: 10px;
}

.parser_buttons {
    padding-top: 30px;
    display: flex;
    margin: 15px;
    flex-direction: column;
}

.search_table_action_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input_link_container {
    display: flex;
    align-items: flex-start;
    margin-top: 8px;
    gap: 16px;
}

.input_link {
    border: none !important;
    background: transparent;
    color: #3a3a3a;
    box-shadow: none;
}

.input_link:hover {
    color: #212121 !important;
    background: transparent;
}

.parsing-result-table .ant-table-cell {
    padding: 5px !important;
    font-size: 11px;
}

.row-no-features {
    background-color: #f1f1f0 !important;
    color: #cfcfcf !important;
}

.row-no-image {
    background-color: #f1f1f0 !important;
}

.compact-row > td {
    padding: 0 6px !important;
    margin: 0 6px !important;
    background: #f8f8fc;

}

.ant-table-cell {
    border-bottom: none !important;
}

.back-to-list-btn {
    background-color: #e2fc2a !important;
    border-color: transparent !important;
    cursor: default
}

.back-to-list-btn:hover {
    background-color: #e2fc2a !important;
    border-color: transparent !important;
    cursor: default;
    color: #6c6c6c !important;
}