.actionParsingBtn {
    color: #e2fc2a;
    background: #999999;
    font-size: 16px;
}

.linkText {
    color: #3a3a3a;
    font-size: 15px;
}

.linkText:hover {
    cursor: default !important;
    color: #999999 !important;
}