.actionParsingBtn {
    color: #e2fc2a;
    background: #999999;
    font-size: 16px;
}

.actionParsingBtn:hover {
    color: #e2fc2a !important;
    border: 1px solid transparent !important;
    background: #b5b5b5 !important;
    cursor: default !important;
}

.linkText {
    color: #3a3a3a;
    font-size: 15px;
}

.linkText:hover {
    cursor: default !important;
    color: #999999 !important;
}