.actionParsingBtn {
    color: #e2fc2a !important;
    background: #afafaf !important;
    font-size: 16px !important;
    border: 1px solid transparent !important;
    box-shadow: 0 3px 3px rgb(0, 0, 0) !important;
}

.actionParsingBtn:hover {
    cursor: default !important;
}

.linkText {
    padding-left: 10px;
    font-family: 'TT Firs Neue', sans-serif;
    color: #3a3a3a;
    font-size: 15px;
    font-weight: 500;
}

.linkText:hover {
    cursor: default !important;
    color: #999999 !important;
}

.checkBoxSync:hover {
    cursor: default !important;
}
