.ant-table-thead {
    display: none;
}

.action_parser_main {
    display: flex;
    align-items: self-start;
    font-family: Arial, sans-serif;
    flex-direction: column;
}

.left_col, .right_col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left_col {
    padding-top: 15px;
    flex-direction: column;
}

.table_url {
    font-size: 10px;
}

.parser_footer {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}