.breadCrumbContainer {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 12px 12px;
    overflow-x: auto;
    white-space: nowrap;
    z-index: 999;
    position: sticky;
}

.breadCrumbBtn {
    padding: 6px 12px;
    border-radius: 16px;
    font-size: 15px;
    font-weight: 700;
}