.cardTitle {
    font-weight: normal;
    height: 50px;           /* фиксированная высота блока */
    line-height: 16px;      /* высота строки */
    overflow: hidden;       /* скрываем лишний текст */
    text-overflow: ellipsis;/* добавляем троеточие */
    display: -webkit-box;   /* для многолинейного ellipsis */
    -webkit-line-clamp: 3;  /* максимум 2 строки */
    -webkit-box-orient: vertical;
}

.card {
    --adm-card-padding: 8px;
}

.imgWrapper {
    width: 100%;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 12px;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.price {
    padding-bottom: 2px;
    font-size: 16px;
    font-weight: 800;
    text-align: center;

    background: linear-gradient(225deg, #F1117E 0%, #F1117E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}