.cardTitle {
    font-weight: normal;
    line-height: 15px;
    overflow: hidden;

    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    text-align: center;

    border-radius: 12px;
    padding: 6px 8px;
    border: 1px solid #f1f1f1;
    box-shadow: rgba(220, 220, 220, 0.47) 0 0 4px;
    background-color: #f6f6f6;
}

.blinkBorder {
    animation: blink-red-border 0.2s ease;
}

@keyframes blink-red-border {
    0% {
        border-color: transparent;
    }
    50% {
        border-color: #e2fc2a;
    }
    100% {
        border-color: transparent;
    }
}

.card :global(.adm-card-body) {
    padding: 0 !important;
}

.imgWrapper {
    width: 100%;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 12px;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.price {
    padding-bottom: 4px;
    font-size: 16px;
    font-weight: 800;
    text-align: center;

    background: linear-gradient(225deg, #F1117E 0%, #F1117E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

