.cardTitle {
    font-weight: normal;
    height: 80px;           /* фиксированная высота блока */
    line-height: 16px;      /* высота строки */
    overflow: hidden;       /* скрываем лишний текст */
    text-overflow: ellipsis;/* добавляем троеточие */
    display: -webkit-box;   /* для многолинейного ellipsis */
    -webkit-line-clamp: 3;  /* максимум 2 строки */
    -webkit-box-orient: vertical;
}

.card {
    --adm-card-padding: 8px;
}

.imgWrapper {
    width: 100%;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 12px;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.price {
    margin-top: 4px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}