.depthBoxContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(130px, 100%), 0.8fr));
    gap: 12px;
    width: 98%;
    box-sizing: border-box;
    justify-content: center;
    justify-items: center;
}

.elementButton {
    display: flex;
    width: 135px;
    padding: 4px 4px;
    font-size: 16px;
    border-radius: 12px;
    cursor: pointer;
    align-items: center;
}

.elementIcon {
    width: 22px;
    height: 22px;
    overflow: hidden;
    background: transparent;
    flex-shrink: 0;
    justify-content: center;
}

.elementImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}