.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 12px;
    padding: 12px;
}

.card {
    --adm-card-padding: 8px;
}

.imgWrapper {
    width: 100%;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 12px;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.price {
    margin-top: 8px;
    font-size: 16px;
    font-weight: 600;
}