.rootPopup {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.mainTitle {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 6px;
}

.swiperPicItemContainer {
    width: 100%;
    height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiperPicItemContainer img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}