.rootPopup {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.contentContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.scrollContainer {
    flex: 1;
    overflow-y: auto;
}

.mainTitle {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 6px;
}


.swiperPicItemContainer {
    width: 100%;
    height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiperPicItemContainer img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.infoBox {
    margin: 16px 16px 0 16px;
    padding: 14px 18px;
    border-radius: 14px;
    font-size: 16px;
    line-height: 1.4;
    box-shadow: 0 1px 3px #999999;
}

.infoRow {
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
}

.infoLabel {
    font-weight: 600;
}

.infoVersion {
    font-weight: 300;
}

.infoValue {
    font-weight: 800;
}

.infoPrice {
    font-family: 'TT Firs Neue', sans-serif;
    font-weight: 800;
    font-size: 20px;
}

.FeatureBlock {
    margin-right: 12px;
}


.FeatureBlock :global(.adm-list-item-content),
.FeatureBlock :global(.adm-list-body) {
    font-family: 'TT Firs Neue', sans-serif;
    border-top: none !important;
}

.FeatureBlock li {
    padding-top: 8px;
    font-family: 'TT Firs Neue', sans-serif !important;
}

.FeatureBlock :global(.adm-jumbo-tabs-header) {
    border-bottom: none !important;
}

.Segmented {
    padding-top: 20px;
}

.Segmented :global(.adm-segmented-group) {
    border-radius: 14px;
    box-shadow: 0 1px 3px #999999;
}

.Segmented :global(.adm-segmented-item),
.Segmented :global(.adm-segmented-item-selected),
.Segmented :global(.adm-segmented-item *) {
    transition: none !important;
    font-family: 'TT Firs Neue', sans-serif;
    border-radius: 14px !important;
}

.Segmented :global(.adm-segmented-thumb) {
    border-radius: 14px !important;
    box-shadow: none !important;
    padding: 0 !important;
    margin: 0 !important;
    height: 100% !important;
    top: 0 !important;
    bottom: 0 !important;
}


.shortFeaturesIcon {
    padding: 8px;
    font-size: 17px;
}

.shortFeaturesTitle {
    font-size: 12px;
    font-weight: 600;
    font-family: 'TT Firs Neue', sans-serif;
}

.detailedFeaturesTitle {
    font-size: 14px;
    font-weight: 600;
    font-family: 'TT Firs Neue', sans-serif;
}

.detailedFeaturesIcon {
    padding: 8px;
    font-size: 17px;
}

.shortFeaturesRow {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
}


.shortFeaturesRow {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
}


.featuresDetailedContainer {
    padding: 12px 0 0 18px;
}

.detailedFeaturesRow {
    display: flex;
    align-items: center;
    padding: 3px 0 3px 0;
}


.featuresDetailedContainer :global(.adm-list-item) {
    padding: 0 !important;
}

.FeatureBlock :global(.adm-list-body) {
    border-bottom: none !important;
}

.featuresDetailedContainer :global(.adm-list-item-content-main) {
    padding: 0 !important;
}

.featuresDetailedContainer :global(.adm-collapse-panel) {
    margin: 0 !important;
}

.shortFeatures .adm-collapse-panel-header .adm-list-item-content {
    padding: 0 !important;
}

.shortFeatures .adm-collapse-panel-header .adm-list-item {
    padding: 0 !important;
    border: none !important;
}
