.mainContainer {
    padding: 20px;
    border-radius: 14px;
}

.mainContainer img {
    box-shadow: 0 2px 3px #999999;
}

.addressText {
    font-size: 16px;
    justify-content: center;
    align-items: center;
    margin-left: 18px;
    margin-right: 18px;
    box-shadow: 0 1px 2px #999999;

}

.mapContainer {
    box-shadow: 0 2px 3px #999999;
    position: relative;
    box-sizing: border-box;
    height: 300px;
    overflow: hidden;
    border-radius: 14px;
    padding-top: 16px;
}

.telegramLink {
    display: block;
    text-align: center;
    margin: 16px 0;
    font-size: 18px;
    font-weight: 600;
    color: #535353;
    text-decoration: none;
}

.telegramLink:hover {
    text-decoration: underline;
}
