.miniAppMenuBar {
    --appbar-active-bg: #e2fc2a;
}

.miniAppMenuBar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    font-family: 'TT Firs Neue', sans-serif;
    padding: 5px 0;
}


.inactiveTab {
    padding: 1px;
    border-radius: 12px;
    font-weight: 400;
}


.activeTab {
    background-color: var(--appbar-active-bg);
    font-weight: 700;
    border-radius: 999px;
    transition: background-color 0.2s ease;
}
