.miniAppMenuBar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    font-family: 'TT Firs Neue', sans-serif;
    font-weight: 600;
    padding: 5px;
}


.inactiveTab {
    padding: 1px;
    border-radius: 12px;
}


.activeTab {
    background-color: #e2fc2a;
    border-radius: 120px;
    transition: background-color 0.3s ease;
}
