.miniAppMenuBar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}


.menuButton {
    background: none;
    border: none;
    font-size: 20px;
    color: #333;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.2s ease;
}

.menuButton:hover {
    background-color: #e0e0e0;
}


