.fullscreenImgWrapper {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.fullscreenImg {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.closeBtnWrapper {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.closeBtn {
    font-size: 48px;
    color: #000000;
    cursor: pointer;
}

.swiperContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}