.swiperContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.fullscreenImgWrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.fullscreenImgWrapper img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    width: auto;
    height: auto;
}

.closeBtnWrapper {
    display: flex;
    justify-content: center;
    padding-top: 16px;
}

.closeBtn {
    font-size: 48px;
    cursor: pointer;
}
