.popupContainer {
    margin-top: 35vh;
    max-height: 60vh;
    border-radius: 20px 0 0 20px;
    padding: 10px;
    background-color: white;
    overflow-y: auto;
    justify-content: end;
    display: flex;
}

.pickBtn {
    border: none;
    font-size: 0.85rem;
    display: flex;
    font-weight: 600;
    border-radius: 1.25rem;
    margin: 0.375rem;
}