.sidebarHeader {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
}

.sidebarButtons {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
