
.fixed-button {
    position: fixed;
    left: 12%;
    transform: translate(-100%, -50%);
    z-index: 1000;
    font-weight: bold;
    border: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    color: #212121 !important;
    transition: background-color 0.3s ease, color 0.3s ease;
}


.fixed-button-dependency {
    position: fixed;
    top: 60%;
}


.fixed-button-clear-parsing-line {
    position: fixed;
    background: #eadaaf;
    top: 65%;
}


.fixed-button-clear-parsing-line:hover {
    background: #cfc19b !important;
}

.fixed-button-delete_ever{
    position: fixed;
    background: #dfb4a7;
    top: 70%;
}


.fixed-button-delete_ever:hover {
    background: #DFB4A7FF !important;
}