.row-no-photo td {
    background: #e6e6e6 !important;
}


.row-no-photo-selected td {
    background: #ffcccc !important;
}


.vertical-segmented .ant-segmented {
    border: 2px solid #676760;
    padding: 4px;
    width: 350px;

}

.vertical-segmented .ant-segmented-item {
    text-align: start;
}

.vertical-segmented .ant-segmented-item-icon {
    color: #676760;
}

.approve-origins-table .ant-table-cell {
    padding: 0 !important;
}

.approve-origins-table .row-light {
    background-color: #d0e8e6;
}