.ant-table-row.row-selected > td {
    background-color: #707575 !important;
    color: white !important;
}

.ant-table-row.row-selected:hover > td {
    background-color: #707575 !important;
    color: white !important;
}
