@font-face {
    font-family: 'Urfa Thin';
    src: url('fonts/urfa/Urfa Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.logo {
    color: white;
    font-family: 'Urfa Thin', sans-serif;
    font-size: clamp(10px, 3vw, 30px);
}

.header {
    background: linear-gradient(to right, #1b2d49, #1f2c48);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    height: 75px;
    border-radius: 15px
}