@font-face {
    font-family: 'Urfa Regular';
    src: url('/fonts/urfa/Urfa-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


.header {
    background: linear-gradient(to right, #202d4b, #293b62);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    position: fixed;
    padding: 0 clamp(20px, 0vw, 20px);
    width: clamp(375px, 86%, 1416px);
    z-index: 1000;
    margin: 0 auto;
    border-radius: 25px;

}

.logo-align {
    display: flex;
    align-items: center
}

.logo-size {
    max-height: 59px;
    padding-right: 8px;
}

.logo-text {
    color: white;
    font-family: 'Urfa Regular', sans-serif;
    font-size: clamp(10px, 3vw, 30px);
}

@media (max-width: 768px) {
    .logo-text {
        display: none;
    }
}

