@font-face {
    font-family: 'GTEestiProDisplay-Medium';
    src: url('/fonts/gteestipro/GTEestiProDisplay-Medium.ttf') format('opentype');
}

.ant-card .ant-card-meta-title {
    font-family: "Fira Sans", sans-serif;
    color: #272933;
    font-size: 14px;
    font-weight: normal;
    white-space: pre-line;
    text-align: center;
    min-height: 2.4em;
    line-height: 1.2em;
}

.product-title {
    font-family: 'GTEestiProDisplay-Medium', sans-serif;
    font-size: 19px;
    color: #4f4f4f;
    text-align: center;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    line-height: 1.2em;
    min-height: 2.4em;
}

.price {
    font-family: 'GTEestiProDisplay-Medium', sans-serif;
    margin: 0;
    padding: 0;
    text-align: end;
    font-size: 26px;

}

.product-card {
    width: 100%;
    max-width: 100%;
    margin-bottom: 16px;
}

.ant-card-body {
    padding-top: 5px !important;
}

.product-image {
    width: 100%;
    max-width: 300px;
    margin: 10px auto;
    padding: 1px;
    display: block;
}

.short-smart-phone-specification {
    padding-top: 9px;
    display: flex;
    font-size: 13px;
    font-family: 'Cormorant', sans-serif;
}

.product-list-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.product-card {
    width: calc(40% - 20px);
    margin: 10px;
    box-sizing: border-box;
}



/*@media (max-width: 480px) {*/
/*    .product-list-container {*/
/*        width: calc(100% + 10%);*/

/*    }*/
/*    .product-card {*/
/*        width: calc(100%);*/
/*    }*/
/*    .product-title {*/
/*        font-size: 18px;*/
/*    }*/
/*    .short-smart-phone-specification {*/
/*        font-size: calc(100% - 20%);*/
/*    }*/
/*    .ant-layout {*/
/*        padding: 40px 15px;*/
/*    }*/
/*}*/

/*@media (max-width: 768px) {*/
/*    .product-card {*/
/*        width: calc(50% - 20px);*/
/*    }*/
/*    .short-smart-phone-specification {*/
/*        font-size: calc(100% - 38%);*/
/*    }*/
/*}*/


@media (max-width: 991px) {
    .product-list-container {
        justify-content: center;
    }
    .product-card {
        width: calc(100% - 30%);
    }
    .short-smart-phone-specification {
        font-size: calc(100% - 18%);
    }
}

@media (min-width: 992px) {
    .product-card {
        width: calc(50% - 5%);
    }
    .short-smart-phone-specification {
        font-size: calc(100% - 25%);
    }
}


@media (min-width: 1280px) {
    .product-card {
        width: calc(33.33% - 20px);
    }
    .short-smart-phone-specification {
        font-size: calc(100% - 27%);
    }
}

@media (min-width: 1440px) {
    .product-card {
        width: calc(33.33% - 3%);
    }
    .short-smart-phone-specification {
        font-size: calc(100% - 14%);
    }
}

@media (min-width: 1680px) {
    .product-card {
        width: calc(33.33% - 2%);
    }
    .short-smart-phone-specification {
        font-size: calc(100% + 3%);
    }
}

@media (min-width: 2560px) {
    .product-card {
        width: calc(25% - 2%);
    }
    .short-smart-phone-specification {
        font-size: calc(100% - 29%);
    }
}
