@font-face {
    font-family: 'GTEestiProDisplay-Medium';
    src: url('/fonts/gteestipro/GTEestiProDisplay-Medium.ttf') format('opentype');
}

.ant-card .ant-card-meta-title {
    font-family: "Fira Sans", sans-serif;
    color: #272933;
    font-size: 14px;
    font-weight: normal;
    white-space: pre-line;
    text-align: center;
    min-height: 2.4em;
    line-height: 1.2em;
}

.price {
    font-family: 'GTEestiProDisplay-Medium', sans-serif;
    margin: 0;
    padding: 0;
    text-align: end;
    font-size: 24px;
}

.product-card {
    width: 100%;
    max-width: 100%;
    margin-bottom: 16px;
}

.product-image {
    width: 100%;
    max-width: 350px;
    margin: 5px auto;
    display: block;
}

.product-list-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}


.product-card {
    flex: 0 0 calc(50% - 24px);
    max-width: calc(50% - 24px);
    margin: 0 12px 24px;
}

