@font-face {
    font-family: 'GTEestiProDisplay-Medium';
    src: url('fonts/gteestipro/GTEestiProDisplay-Medium.ttf') format('opentype');
}


.ant-menu-title-content {
    font-family: 'GTEestiProDisplay-Medium', sans-serif;
    font-size: 15px;
    color: #43434b;
}




