#root {
    width: clamp(320px, 90vw, 1416px);
    margin: 0 auto;
    position: relative;
}

.menu-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.ant-menu.ant-menu-root.ant-menu-inline.side-menu,
.ant-menu-inline-collapsed {
    border-inline-end: none !important;
}

.ant-layout-sider-zero-width-trigger {
    width: 130px !important;
    height: 70px !important;
    border-radius: 25px !important;
    z-index: 2000 !important;
    background: none !important;
    position: fixed !important;
    top: 11px !important;
    left: 45px !important;
    overflow: hidden !important;
}

:where(.css-dev-only-do-not-override-19lec04).ant-layout-sider .ant-layout-sider-zero-width-trigger:hover::after {
    background: none !important;
}

@media (max-width: 480px) {
    .ant-menu {
        padding-top: 110px;
    }
}