@import url('/fonts/ttfirsneue/stylesheet.css');


.service-app-container {
    font-family: 'TT Firs Neue', sans-serif;
    width: clamp(320px, 90vw, 1416px);
    margin: 20px auto 0;
    position: relative;
    padding: 20px;
    background: #f8f8f7;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.service-app-tabs .ant-tabs-nav {
    width: 250px;
}

.service-app-tabs .ant-tabs-tab {
    padding-left: 0px !important;
}

.service-app-tabs .ant-tabs-tab-btn {
    text-align: left !important;
    padding-left: 0px !important;
}


.bill-wrapper {
    font-family: Arial, sans-serif;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bill-wrapper .form-container {
    width: 330px;
}

.service-app-container .ant-tabs,
.service-app-container .ant-spin,
.service-app-container .ant-btn,
.service-app-container .ant-input {
    font-family: 'TT Firs Neue', sans-serif !important;
}


.service-app-tabs .ant-tabs-tab-active .ant-tabs-tab-btn {
    color: black !important;
}


.service-app-tabs .ant-tabs-tab {
    padding-left: 6px !important;
}

.service-app-tabs .ant-tabs-tab {
    transition: background-color 0.2s ease,
    border-radius 0.2s ease, padding-left 0.2s ease;
    cursor: default !important;
}

.service-app-tabs .ant-tabs-tab-active {
    padding-left: 6px !important;
    border-radius: 20px;
    background-color: #e2fc2a !important;
}

.service-app-tabs .ant-tabs-tab-active .icon-style {
    color: #e2fc2a;
}

.ant-tabs-tab:hover {
    color: #676760 !important;
}

.circle-container {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: #40403d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-style {
    font-size: 25px;
    color: white;
}

.icon-style:hover {
    color: #e2fc2a;
}