.bill-wrapper {
    margin-top: 20px;
    font-family: Arial, sans-serif;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bill-wrapper .form-container {
    width: 400px;
}